soap-xml/course-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        elementFormDefault="qualified"
        targetNamespace="http://in28minutes.com/courses"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--                            REQUEST                                  -->

    <xs:element name="GetCourseDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!--                           RESPONSE                          -->
    <xs:element name="GetCourseDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CourseDetails" type="cour:CourseDetails"
                            xmlns:cour="http://in28minutes.com/courses">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CourseDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>


        <!--
        <?xml version="1.0" encoding="UTF-8"?>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://in28minutes.com/courses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:element name="GetCourseDetailsResponse" type="cour:GetCourseDetailsResponseType" xmlns:cour="http://in28minutes.com/courses"/>
          <xs:complexType name="CoursesType">
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
          <xs:complexType name="GetCourseDetailsResponseType">
            <xs:sequence>
              <xs:element type="cour:CoursesType" name="Courses" xmlns:cour="http://in28minutes.com/courses"/>
            </xs:sequence>
          </xs:complexType>
        </xs:schema>


        -->


        <!--

        <?xml version="1.0" encoding="UTF-8"?>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://in28minutes.com/courses"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:element name="GetCourseDetailsRequest"
                      type="cour:GetCourseDetailsRequestType"
                      xmlns:cour="http://in28minutes.com/courses">
            <xs:complexType name="GetCourseDetailsRequestType">
              <xs:sequence>
                <xs:element type="xs:integer" name="id"/>
              </xs:sequence>
            </xs:complexType>
                  </xs:element>

        </xs:schema>


        -->